body {
    font-family: sans-serif;
    background-color:rgb(247, 239, 204) ;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container {
   max-width: 800px;
   margin: 0 auto;
             color: Black;
             font-family: sans-serif;
             padding-top:20px;
             padding-left: 20px;
             padding-right: 20px;
 }
   
   
   
p
{
     font-style: italic;
    font-size: 14px;
    font-family: -webkit-pictograph;
    font-weight: bold;
}

#wrapper
{
width: 474px;
margin: 0 auto;
background-color: #121212;
opacity: 0.84;
filter: alpha(opacity=84); /* For IE8 and earlier */
border-top:3px solid #5BBF50;
min-height: 50px;
padding: 10px 0;
color: #bfbfbf;
}

#wrapper2
{
box-shadow: 2px 2px 12px 7px;
margin: 0 auto;
background-color: rgb(146, 215, 255);
opacity: 0.84;
filter: alpha(opacity=84); /* For IE8 and earlier */
border-top:3px solid #5BBF50;
min-height: 40px;
padding-top:5px;
padding-left: 10px;
padding-right: 10px;
color: black;

}

/* unvisited link */
a:link {
    color: red;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: azure;
     text-decoration: underline;
}

/* selected link */
a:active {
    color: blue;
    text-decoration: underline;
}
#heading{
	text-align: center;
	font-size: 48px;
	font-weight:bold;
	font-family: 'Almendra SC', serif;
}

#txtcomments
{
    max-width: 504px;
    width: 400px;
    max-height: 100px;
}
#date
{
   
    border: 1px dashed blanchedalmond;
    max-width: 100px;
    float: left;
    padding-left: 10px;
    margin-left: 10;
    font-weight: bold;
    /* font-variant-caps: inherit; */
    /* font-kerning: initial; */
    font-stretch: expanded;
}
#content
{
    margin: 10px;
    opacity: 0.9;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    font-style: italic;
    font-size: 14px;
    font-family: -webkit-pictograph;
    border: 2px groove blanchedalmond;
    padding: inherit;
    clear: left;
    background-image: url(http://freedesignfile.com/upload/2016/04/Spring-sunlight-with-green-leaves-vector-background-05.jpg),url(http://freedesignfile.com/upload/2015/01/Halation-bubble-with-green-leaves-vector-background-06.jpg);
    background-position: left top,right bottom;
    background-repeat: no-repeat, repeat;
  }
