body {
    font-family: sans-serif;
    background-color:rgb(111, 161, 124) ;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container {
   max-width: 800px;
   margin: 0 auto;
             color: Black;
             font-family: sans-serif;
             padding-top:20px;
             padding-left: 20px;
             padding-right: 20px;
 }
     
#wrapper
{
width: 474px;
margin: 0 auto;
background-color: #121212;
opacity: 0.84;
filter: alpha(opacity=84); /* For IE8 and earlier */
border-top:3px solid #5BBF50;
min-height: 50px;
padding: 10px 0;
color: #bfbfbf;
}

#wrapper2
{
width: 704px;
margin: 0 auto;
background-color: rgb(255, 215, 237);
opacity: 0.84;
filter: alpha(opacity=84); /* For IE8 and earlier */
border-top:3px solid #5BBF50;
min-height: 40px;
padding-top:5px;
padding-left: 10px;
padding-right: 10px;
color: black;
}
#txtcomments
{
    width:200px;
}
#content
{
    margin: 4px;
    background-color: #121212;
    
}
}